*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    --btnColor: rgb(36, 36, 110);
    --hoverClr: rgb(81, 58, 129);
}

.page-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 40px 120px 40px;
    font-size: 20px;
}

.header {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 20px;
}


#front-page-btn {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 40px;
}

.button {
    background-color: var(--btnColor);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.first-body-txt {
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}

.button:hover {
    background-color: var(--hoverClr);
}



.new-btns {
    flex-direction: column;
    display: flex;
    width: 15%;
    padding-left: 21%;
}

.ques-btn {
    margin: 2px;
}

#question {
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 40px;
    margin: 20px;
    padding-left: 20%;
    font-family: sans-serif;
}